POSTGRES_USER=postgres
POSTGRES_PASSWORD=ganti-dengan-password-kuat
POSTGRES_DB=crm-db

DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=ganti-dengan-password-kuat
DB_NAME=crm-db
DB_SSLMODE=disable
DB_TIME_ZONE=Asia/Jakarta

JWT_SECRET=ganti-dengan-string-acak-panjang

SERVER_PORT=8080
SERVER_ENV=development

CORS_ORIGINS=http://localhost:5173
